---
layout: default
hide_lang_switcher: false
---
{% assign lang_data = site.data[page.lang] %}

<article class="section blog-post">
    <header class="blog-post-header">
        <h1>{{ page.title }}</h1>
        <div class="post-meta">
            <span>{{ lang_data.blog.postedOn }} {{ page.date | date: "%B %d, %Y" }}</span>
            {% if page.author %}
            <span> {{ lang_data.blog.by }} {{ page.author }}</span>
            {% endif %}
        </div>
    </header>

    <div class="blog-post-content">
        {{ content }}
    </div>

    <footer class="blog-post-footer">
        {% if page.lang == 'en' %}
        <a href="/blog.html" class="btn btn-secondary">{{ lang_data.blog.backToBlog }}</a>
        {% else %}
        <a href="/nl/blog.html" class="btn btn-secondary">{{ lang_data.blog.backToBlog }}</a>
        {% endif %}
    </footer>
</article>
